@font-face {
    font-family: "Podliva";
    src: url(./Kaushan_Script/KaushanScript-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}
.intro {
    display: flex;
    margin-left: 700px;
    margin-top: -580px;
    justify-content: space-evenly;
    text-align: center;
    color: rgb(19, 18, 18);
}
.girls {
    width: 1475px;
    height: 600px;
    background-image: url(./Zermatt+Banner\(1\).jpg);
}

.mtext {
    margin-top: 200px;
    margin-left: 450px;
    font-size: 100px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #0c0b0b;
    display: flex;
    font-family: "Podliva";
}
.work {
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.w3 {
    font-family: "Podliva";
    font-weight: 400;
}

.AZ::after {
    content: "";
    display: table;
    clear: both;
    width: 60px;
    height: 3px;
    background-color: red;
    margin-left: 90px;
    margin-top: 50px;
}

.service {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.card1 {
    width: 350px;
    height: 140px;
    /* background-image: url(./babochka.jpg); */
}



.card2 {
    width: 350px;
    height: 140px;
    margin-left: 20px;
    /* background-image: url(./web-design.png); */
}

.card3 {
    width: 359px;
    height: 136px;
    /* background-image: url(./creativity.png); */
}

.card4 {
    width: 350px;
    height: 140px;
    margin-top: 50px;
    /* background-image: url(./SEo.png); */
}

.card5 {
    width: 350px;
    height: 140px;
    margin-top: 50px;
    /* background-image: url(./cssHtml.png); */
}

.card6 {
    width: 372px;
    height: 136px;
    margin-top: 50px;
    margin-left: 20px;
    /* background-image: url(./Digital.png); */
}

.headsquad {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.wwa {
    font-family: "Podliva";
    font-weight: 400;
}

.MOT::after {
    content: "";
    display: table;
    clear: both;
    width: 60px;
    height: 3px;
    margin-left: 90px;
    margin-top: 40px;
    background-color: red;
}
.bord1 {
    width: 1475px;
    height: 844px;
}
.bord2 {
    width: 1475px;
    height: 844px;
}
.bord3 {
    width: 1475px;
    height: 844px;
}
.bord4 {
    width: 1475px;
    height: 844px;
}
.bord6 {
    width: 1475px;
    height: 844px;
}
.bord7 {
    width: 1475px;
    height: 844px;
}
.bord8 {
    width: 1475px;
    height: 844px;
}
.bord9 {
    width: 1475px;
    height: 844px;
}
.bord10 {
    width: 1475px;
    height: 844px;
}
.bord11 {
    width: 1475px;
    height: 844px;
}

.Contacts {
    margin-left: 75%;
}